@model ConsentViewModel

<div class="consent-page">
    <h1>
        @Model.ClientName
        <small>is requesting your permission</small>
    </h1>

    <partial name="_ValidationSummary" />

    <form asp-action="Index" id="consent">
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="mdc-list-group">
            @if (Model.IdentityScopes.Any())
            {
                <h3 id="information" class="mdc-list-group__subheader">Personal Information</h3>
                <ul class="mdc-list" role="group" aria-orientation="vertical" aria-labelledby="information">
                    @foreach (var scope in Model.IdentityScopes)
                    {
                        <partial name="_ScopeListItem" model="@scope" />
                    }
                </ul>
            }

            @if (Model.ApiScopes.Any())
            {
                <h3 id="applications" class="mdc-list-group__subheader">Application Access</h3>

                <ul class="mdc-list mdc-list--two-line" role="group" aria-orientation="vertical" aria-labelledby="applications">
                    @foreach (var scope in Model.ApiScopes)
                    {
                        <partial name="_ScopeListItem" model="scope" />
                    }
                </ul>
            }

            @if (Model.AllowRememberConsent)
            {
                <h3 id="options" class="mdc-list-group__subheader">Additional Options</h3>
                <ul class="mdc-list" role="group" aria-orientation="vertical" aria-labelledby="options">
                    <li class="mdc-list-item" role="checkbox" aria-checked="@Model.RememberConsent.ToString().ToLower()">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__graphic">
                            <div class="mdc-checkbox">
                                <input class="mdc-checkbox__native-control"
                                       type="checkbox"
                                       asp-for="RememberConsent"
                                       value="@Model.RememberConsent" />
                                <div class="mdc-checkbox__background">
                                    <svg class="mdc-checkbox__checkmark"
                                         viewBox="0 0 24 24">
                                        <path class="mdc-checkbox__checkmark-path"
                                              fill="none"
                                              d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                    </svg>
                                    <div class="mdc-checkbox__mixedmark"></div>
                                </div>
                            </div>
                        </span>
                        <label class="mdc-list-item__text" asp-for="RememberConsent">
                            <span class="mdc-list-item__text">Remember My Decision</span>
                        </label>
                    </li>
                </ul>
                    }
            </div>

        <div class="buttons">
            <div class="mdc-touch-target-wrapper">
                <button name="button" value="yes" class="mdc-button mdc-button--raised mdc-button--touch">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__label">Yes</span>
                    <span class="mdc-button__touch"></span>
                </button>
            </div>
            <div class="mdc-touch-target-wrapper">
                <button name="button" value="no" class="mdc-button mdc-button--touch">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__label">No</span>
                    <span class="mdc-button__touch"></span>
                </button>
            </div>
        </div>
    </form>
</div>
