@using Authentication.Api.Application.Login
@model LoginAttemptStatus?

<div class="logout-page">
    <div class="lead">
        <h1>Login</h1>
        @if (Model == null || Model == LoginAttemptStatus.Expired)
        {
            <p>This confirmation URL is not valid (anymore). Please close this window and start the authentication process again.</p>
        }
        else if (Model == LoginAttemptStatus.Approved)
        {
            <p>Login has been confirmed! Please close this window and return to the original browser tab.</p>
        }
        else if (Model == LoginAttemptStatus.Deleted)
        {
            <p>Login attempt was cancelled!</p>
        }
    </div>
</div>