@model Authentication.Api.Application.Logout.LogoutDto
@{
    Layout = "_LayoutMaterialPage";
}

<div class="logged-out-page">
    <p>You are now logged out.</p>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div class="buttons">
            <div class="mdc-touch-target-wrapper">
                <a href="@Model.PostLogoutRedirectUri" class="mdc-button mdc-button--raised mdc-button--touch">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__label">Return to application</span>
                    <span class="mdc-button__touch"></span>
                </a>
            </div>
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl" title="Signed out"></iframe>
    }
</div>
