@using System.Globalization
@model LoginAttemptViewModel
@{
    Layout = "_LayoutLogin";
}

<p>An email has been send to you to approve this login attempt. Please keep this browser tab open and return after clicking the link in the email.</p>
<div id="timeLeft" class="mdc-circular-progress" role="progressbar" aria-label="Example Progress Bar" aria-valuemin="0" aria-valuemax="1">
    <div class="text mdc-typography--headline4"></div>
    <div class="mdc-circular-progress__determinate-container">
        <svg class="mdc-circular-progress__determinate-circle-graphic" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
            <circle class="mdc-circular-progress__determinate-track" cx="24" cy="24" r="18" stroke-width="4" />
            <circle class="mdc-circular-progress__determinate-circle" cx="24" cy="24" r="18" stroke-dasharray="113.097" stroke-dashoffset="113.097" stroke-width="4" />
        </svg>
    </div>
</div>
<form id="loginApproval">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ReturnUrl" />
    <input type="hidden" asp-for="RememberLogin" />
</form>
<input type="hidden" asp-for="ExpiryDate" value="@Model.ExpiryDate.ToString("G", CultureInfo.InvariantCulture) GMT" />

@section scripts
{
    <script src="~/js/login-approval.js"></script>
}
