@model RedirectViewModel
@{
    Layout = "_LayoutMaterialPage";
}

<div class="redirect-page" data-url="@Model.RedirectUrl">
    <p>You are now being returned to the application</p>
    <p>Once complete, you may close this tab.</p>
</div>

@section scripts
{
    <script src="~/js/signin-redirect.js"></script>
}